*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(-90deg, #082361 65%, #fff 35%);
    height: 100vh;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center  ;
    height: 80px;
    width: 100%;
    background: transparent;
}


nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    color: white;
}
nav ul li a:hover,
nav ul li a.active{
    color: rgb(144, 202, 224);
    font-size: 1.07rem;
}
.left{
    font-size: 1.5rem;
}
.first{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    align-items: center;
}
.first > div{
    width: 50%;

}
.leftsection .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 500px;
    background-color: #082361; 
    padding: 0 10%;
    margin-left: 30%;
    border: 25px solid #fff; 
    outline: 25px solid #082361;
}
.leftsection img{
    position: relative;
    max-width: 380px;


}
.rightsection {
    max-width: 600px;
    color: #fff;
    text-align: right;
}
.rightsection h1{
    font-size: 45px;
}
.rightsection h3{
    font-size: 30px;
    padding-top: 12px;
    color: rgb(79, 187, 245);
}
.rightsection p{
    font-size: 16px;
    margin-top: 12px;
}

.rightsection .buttons{
    padding: 23px;
}
.rightsection .btn{
    padding: 12px;
    background-color: rgb(13, 13, 126);
    border-radius: 6px;
    border-color: whitesmoke;
    color: white;
    cursor: pointer;
}
.rightsection .btn:hover{
    background: rgb(102, 209, 242);
    color:#fff;
    box-shadow: 0 0 10px #00abf0;

}
.home{
    margin: 25px 0 40px;
}
.home a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 10px;
}
.home a:hover{
    background: rgb(102, 209, 242);
    color:#fff;
    box-shadow: 0 0 10px #00abf0;
}
